<!DOCTYPE html>

<html>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
<body>
    
  <button type="button" class="btn btn-primary" [disabled]="this.service.orderInProgress.length>0" [routerLink]='["/orderpage"]'>Place Order</button>
  <button type="button" class="btn btn-primary" [disabled]="this.service.orderInProgress.length==0" (click)="showOrder()">Checkout</button>


  <div *ngIf="showOrderPlaced">
    <h1>The following is a table of the order</h1>
    <table>
      <tr>
        <th>Item</th>
        <th>Price</th>
      </tr>
      <tr *ngFor="let order of customerOrder">
        <td>{{order.name}}</td>
        <td>{{ order.price | currency:'USD' }}</td>
      </tr>
    </table> 
    <h2>The total cost is {{ totalPrice | currency:'USD' }}</h2>
    <button type="button" class="btn btn-primary" (click)="orderThanks()">Pay Now</button>
  </div>
<router-outlet></router-outlet>
</body>
</html>